.bg-second_navbar
{
	background-color: #EBEBEB
}
@media (max-width: 991px)
{
		.navdisappear
		{
			display:none;
		}
}
@media (min-width: 991px)
{
	.form-control-resposive
	{
			width:400px;
	}
}
.page
{
	text-align:center;
}
body
{
		font-family: 'Poppins';
}